extends layout-logged-in

block content

  section.section-change-password

    h2 Change Password

    form(action="/password", method="POST")
      p
        label Old password
        input(name="password", type="password", placeholder="Old password")
      p
        label New password
        input(name="newPassword", type="password", placeholder="New password")
      p
        label Confirm new password
        input(name="confirmNewPassword", type="password", placeholder="Confirm new password")
      p: button(type="submit") Change password

      if password_error
        p.error= password_error

      if password_success
        p.success= password_success
