extends layout-logged-in

block content

  section.section-static

    if firstUse
      h2 Terms of Use
    else
      h2 Terms of Use

    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus mauris tortor, non egestas lacus sollicitudin eget. Etiam eget blandit lacus. Phasellus non ipsum volutpat nunc lobortis aliquet nec tincidunt erat. Nullam id ipsum gravida, bibendum orci non, blandit sem. Donec ac scelerisque erat. Nulla facilisi. Sed ac mi at purus imperdiet accumsan. Sed eget feugiat enim. Praesent feugiat lacus ipsum, eu mattis nisi fermentum sit amet. Etiam auctor, turpis vitae consectetur gravida, lorem elit lacinia nibh, nec cursus enim lectus ut massa. Cras malesuada semper enim nec vulputate. Integer suscipit elementum suscipit. Donec nec lacus a ipsum ultricies posuere. Etiam luctus id nulla vel dapibus.
    p
      | In cursus ligula tincidunt eleifend convallis. Duis aliquet, lacus non imperdiet ullamcorper, massa magna laoreet tortor, sed pulvinar enim odio hendrerit ex. Ut congue felis ac dolor sodales, sit amet facilisis ex porttitor. Etiam et tortor blandit orci facilisis elementum. Suspendisse potenti. Donec varius, odio in pulvinar blandit, velit erat condimentum nibh, id maximus erat lectus eu massa. Sed porttitor ornare egestas. Aliquam maximus ornare efficitur. Sed mattis gravida malesuada. Integer eleifend risus eu faucibus interdum. Integer malesuada nunc ac odio molestie, ut pretium mi pretium. Curabitur metus ligula, consequat et elementum nec, ultricies vel ex. Sed in molestie nulla.
