.login-container
    text-align: center

.section-create-account,
.section-login
    background: #FFF
    box-shadow: 1px 1px 5px 0 #CCC
    display: inline-block
    margin: 30px 15px
    padding: 15px
    max-width: 50%
    min-width: 33%
    text-align: left
    vertical-align: top

    @media (max-width: 590px)
        box-sizing: border-box
        box-shadow: none
        margin: 0 0 1px
        max-width: 100%
        min-width: 100%
        width: 100%

    h2
        margin-top: 0
        font-weight: normal
        text-align: center

        @media (max-width: 590px)
            font-size: 16px
            font-weight: bold

    p:last-child
        margin-bottom: 0

    label
        display: none
        line-height: 25px
